# antlr files
.antlr
*.interp
*.tokens
antlr-4.7.2-complete.jar
little_grammarBaseListener.java
little_grammarLexer.java
little_grammarListener.java
little_grammarParser.java


# java files
*.class

# Other Files
.DS_Store

# Grading script files
usertest/

# VS code files
.vscode/

